@CHARSET "UTF-8";
*{margin:0px;padding: 0px}
#wrap{width: 100%;margin:auto;}
.header_login{width:100%;height:50px;background-color: white; text-align: right; }
.header_menu{width:100%;height:50px;background-color: white;}
.left{width:20%;height:900px;background-color: gray; float: left;}
.content{width:80%;height:900px;background-color: pink;float: left;}
.main{width:100%;height:900px;background-color: pink;}
.footer{width:100%;height:150px;background-color: blue;clear: both;}
#header_menu1{height:90%;width: 100%;text-align: center;}
.common_line_green{height: 10%;background-color:#88B14B;margin-left: 80px;margin-right: 80px; }